.animacion {
	animation-duration: 2s;
	animation-name: texto;
}
@keyframes texto {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
	}
}
#foto {
	animation-duration: 2s;
	animation-name: img;
}
@keyframes img {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	to {
		/*transform: translate3d(0, 0, 0);*/
		opacity: 1;
	}
}
/*borbujas*/
.burbujas div {
	display: grid;
	align-items: center;
	justify-content: center;
	/*color: #e3b155;*/
	color: #fff;
}
.burbuja {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	opacity: 0.3;
	/*background: #426175;*/
	/*background: #da0037;*/
	background: #ffff;
	position: fixed;
	/*margin-top: 10px;*/
	bottom: 0;
	left: 5%;
	text-align: center;
	animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
	width: 80px;
	height: 80px;
	/*background: #da0037;*/
	background: #ffff;
	left: 10%;
	animation-duration: 3s;
	animation-delay: 3s;
}

.burbuja:nth-child(2) {
	width: 130px;
	height: 130px;
	background: #ffff;
	left: 15%;
	animation-duration: 4s;
	animation-delay: 5s;
}

.burbuja:nth-child(3) {
	width: 80px;
	height: 80px;
	/*background: #da0037;*/
	background: #ffff;
	left: 20%;
	animation-duration: 3s;
	animation-delay: 4s;
}
.burbuja:nth-child(4) {
	width: 50px;
	height: 50px;
	/*background: #da0037;*/
	background: #ffff;
	left: 25%;
	animation-duration: 2s;
	animation-delay: 3s;
}

.burbuja:nth-child(5) {
	width: 100px;
	height: 100px;
	/*background: #da0037;*/
	background: #ffff;
	left: 30%;
	animation-duration: 4s;
	animation-delay: 3s;
}
.burbuja:nth-child(6) {
	width: 20px;
	height: 20px;
	background: #fff;
	left: 35%;
	animation-duration: 3s;
	animation-delay: 2s;
}

.burbuja:nth-child(7) {
	width: 20px;
	height: 20px;
	background: #fff;
	left: 40%;
	animation-duration: 2s;
	animation-delay: 2s;
}

.burbuja:nth-child(8) {
	width: 100px;
	height: 100px;
	background: #ffff;
	/*background: #da0037;*/
	left: 45%;
	animation-duration: 4s;
	animation-delay: 2s;
}
.burbuja:nth-child(9) {
	width: 30px;
	height: 30px;
	background: #fff;
	left: 50%;
	animation-duration: 3s;
	animation-delay: 3s;
}

.burbuja:nth-child(10) {
	width: 110px;
	height: 110px;
	/*background: #da0037;*/
	background: #ffff;
	left: 55%;
	animation-duration: 2s;
	animation-delay: 3s;
}

.burbuja:nth-child(11) {
	width: 30px;
	height: 30px;
	background: #fff;
	left: 65%;
	animation-duration: 3s;
	animation-delay: 3s;
}
.burbuja:nth-child(12) {
	width: 70px;
	height: 70px;
	background: #ffff;
	left: 70%;
	animation-duration: 4s;
	animation-delay: 3s;
}
.burbuja:nth-child(13) {
	width: 130px;
	height: 130px;
	/*background: #da0037;*/
	background: #ffff;
	left: 80%;
	animation-duration: 2s;
	animation-delay: 3s;
}
.burbuja:nth-child(14) {
	width: 30px;
	height: 30px;
	background: #fff;
	left: 90%;
	animation-duration: 3s;
	animation-delay: 3s;
}
.burbuja:nth-child(15) {
	width: 20px;
	height: 20px;
	/*background: #da0037;*/
	background: #ffff;
	left: 70%;
	animation-duration: 4s;
	animation-delay: 3s;
}
.burbuja:nth-child(16) {
	width: 60px;
	height: 60px;
	background: #fff;
	left: 50%;
	animation-duration: 1s;
	animation-delay: 3s;
}
@keyframes burbujas {
	0% {
		bottom: 0;
		opacity: 0;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		bottom: 100rem;
		opacity: 0;
	}
}
