.containerMisCurso {
	/*border: solid 3px red;*/
	padding: 10px;
	height: 150px;
}

#curso {
	display: none;
	background: #27232b;
	margin-top: 60px;
	padding: 20px;
	transition: color 0.3s ease;
}
.container {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-gap: 15px;
	justify-content: center;
}

.item {
	border-radius: 5px;
	padding: 10px;
	background-color: #e4b057;
}

.item img {
	max-width: 100%;
}

.nivel_1 {
	grid-row-end: span 3;
}

.nivel_2 {
	grid-row-end: span 2;
}

.nivel_3 {
	grid-row-end: span 1;
}

.container_footer {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-gap: 25px;
	justify-content: center;
	align-items: center;
	background: #100e1b;
	color: #fff;
	margin-top: 30px;
	font-size: 10px;
	height: 30vh;
}
