:root {
	--pink: #ecd6c7;
	--black: #27232b;
	--green: #86af9d;
	--white: #f4e7d7;
	--orange: #e4b057;
	--blue: #426175;
	--green2: #46d1c0;
}

/**/

.contenedorFooter {
	background: #426175;
	background: #27232b;
	background: #4d5956;
	height: 40vh;
	width: 100%;
	color: #9fd4ca;
	position: flex;
	margin: 10px 0px 0px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.contenedorFooter,
.contacto,
.miNombre {
	display: grid;
	justify-content: center;
	align-items: center;
}

.redesSociales {
	display: flex;
	justify-content: center;
	align-items: center;
}

.redesSociales img {
	background: #fff;
	border-radius: 7px;
	width: 40px;
	height: 40px;
	margin: 10px;
	object-fit: cover;
}
.contenedorFooter {
}
