@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body {
	font-family: "DM Serif Display", serif;
	overflow-x: hidden;
	background: #171717;
	font-size: calc(0.5em + 0.5vw);
	background-image: linear-gradient(
		-225deg,
		#231557 0%,
		#44107a 29%,
		#ff1361 67%,
		#fff800 100%
	);
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
/*SECTION DONDE VA EL INICIO*/

.logoPortafoli {
	position: relative;
	left: 10%;
	display: flex;
	color: #e3b155;
	text-decoration: none;
	margin-right: 20%;
	margin-top: 10px;
	font-size: 100%;
	font-family: "Roboto Slab", serif;
}
.porta {
	color: #da0037;
}

.navbar {
	position: fixed;
	background: #171717;
	color: #ff3b3f;
	height: auto;
	width: 100%;
	z-index: 9999;
	top: 0;
}
.navbar ul {
	width: 90%;
	display: flex;
	justify-content: center;
	text-align: center;
}
.navbar ul li {
	margin-right: 30px;
}
.navbar ul li a {
	text-decoration: none;
	color: #fff;

	text-align: center;
	font-family: "Roboto Slab", serif;
	transition: color 0.3s ease;
}
.navbar ul li a.active {
	color: #da0037;
}
.navbar ul li a:hover {
	background: ;
	color: #da0037;
	height: 50vh;
	width: 100%;
}
/*MANTO NEGRO DONDE VA LAS FOTOS*/
.contenedor_negro {
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	justify-content: center;
	grid-template-areas: "contenedor_negro contenedor_negro  ";

	color: #fff;
}
.contenedor_negro .capaOscura {
	position: absolute;
	width: 100%;
	height: 100vh;
	/*background: #171717;*/
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containeImg {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contenedor_negro img {
	border-radius: 50%;
	border: solid 4px #ffff;
	width: 50%;
	height: 72%;
}

.columLetras {
	display: grid;

	font-size: calc(1em + 1vw);
	justify-content: center;
	font-family: "DM Serif Display", serif;
}

.columLetras a {
	color: #fff;
}

.colorDevenloper {
	color: #da0037;
}
.boton1 {
	position: relative;
	background-color: #da0037;
	color: #ffff;
	width: 25vh;
	height: 6vh;
	margin: auto;
	top: -120px;
	font-size: calc(0.5em + 0.5vw);
}

.boton1:hover {
	background: none;
	color: #da0037;
	border: solid 2px #ffff;
	transition: all 0.8s ease;
}
/*SECTION DONDE VA EL INICIO*/

@media screen and (max-width: 800px) {
	.contenedor_negro {
		grid-template-columns: repeat(auto-fill, 100%);
		grid-template-areas: "contenedor_negro contenedor_negro ";
	}

	.boton1 {
		position: relative;
		font-size: calc(0.7em + 0.7vw);
		margin: 0px;
		margin: auto;
		top: -10px;
	}
}
