/* SECTION DE QUIEN SOY*/

.containerQuienSoy {
	display: grid;
	margin-top: -10%;
	width: 100%;
	font-size: calc(0.5em + 0.5vw);
	grid-template-areas:
		"acercaDeMi acercaDeMi acercaDeMi "
		"miFoto quienSoy quienSoy";
}

.acercaDeMi {
	color: #fff;
	margin-top: 8%;
}
.acercaDeMi h2 {
	background: #444444;
	height: 50px;
	border-radius: 4px;
	width: 300px;
	text-align: center;
	padding: 5px;
	font-size: calc(1em + 1vw);
	color: #fff;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.acercaDeMi hr {
	background: #fff;
	background: none;
	width: 200px;
	height: 5px;
	margin-top: -5px;
}
.acercaDeMi .hrServicio {
	background: #f48e4f;
	width: 220px;
	margin-top: -15px;
}
.containerQuienSoy .quienSoy,
.containerQuienSoy .miFoto {
	height: 90vh;
}
.containerQuienSoy .miFoto {
	grid-area: miFoto;
}
.containerQuienSoy .quienSoy {
	grid-area: quienSoy;
}

.containerQuienSoy .acercaDeMi {
	color: #426175;
	grid-area: acercaDeMi;
}
.containerQuienSoy div {
	display: grid;
	justify-content: center;
	align-items: center;
}
.containerQuienSoy img {
	width: 60%;
	height: 50vh;
	margin: auto;
	margin-top: -10px;
	border-radius: 5%;
	object-fit: cover;
}

.servicioHacer {
	font-size: 20px;
	color: #da0037;
}

.spanSoy {
	color: #ffff;
	font-family: "Roboto Slab", serif;
}
.colorDeveloper {
	color: #da0037;
	height: 50px;
}

.soy {
	color: #ffff;
	padding: 10px;
	width: 80%;
	margin: auto;
	font-size: calc(1em + 1vw);
}

/*ANIMACION EN JS*/

@media screen and (max-width: 800px) {
	.containerQuienSoy {
		grid-template-columns: repeat(auto-fill, 100%);
		grid-template-areas:
			"acercaDeMi acercaDeMi acercaDeMi "
			"miFoto miFoto miFoto"
			"quienSoy quienSoy quienSoy";
	}
}
